<!DOCTYPE html>
<html>

<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/htmx.min.js"></script>
    <script src="/js/htmx-json-enc.min.js"></script>
    <script src="/js/htmx-templates.js"></script>
    <script src="/js/mustache.min.js"></script>
    <script src="/js/idiomorph-ext.min.js"></script>
    
    <link rel="stylesheet" href="/css/main.css"></link>
</header>

<script>
    var GLOBAL_DEFAULT_PAGE = "home";
    var GLOBAL_HASH = window.location.hash.substr(1) || GLOBAL_DEFAULT_PAGE;
</script>

<body hx-ext="client-side-templates,morph,json-enc">
    <div hx-get="/routes.json" mustache-template="nav-item" hx-trigger="load once">
    </div>

    <template id="nav-item">
        {{ #pages }}
        <a hx-get="/pages/{{ id }}.htm" hx-target="main" href="#{{ id }}" hx-trigger="click,load[GLOBAL_HASH == '{{ id }}']">{{ display_name }}</a>
        {{ /pages }}
    </template>

    <main></main>
</body>

</html>