<p>
    The quick brown fox jumps over the lazy dog.

    <p id="indicator" class="htmx-indicator">Loading...</p>

    <div hx-get="/data/example.json" mustache-template="example" hx-indicator="#indicator" hx-trigger="load,every 5s">
    </div>

    <template id="example">
        {{ data.question }}

        <ol>
            {{ #data.animals }}
            <li>
                <span class="text-capitalize">{{ . }}</span>
            </li>
            {{ /data.animals }}
        </ol>
    </template>
</p>